<tr id="<%= dom_id friend %>">
  
    <td>
      
      <%= friend.First_name %>
    </td>

    <td>
      
      <%= friend.Last_name %>
    </td>

    <td>
      
      <%= friend.Email %>
    </td>

    <td>
      
      <%= friend.Phone %>
    </td>

    <td>
      
      <%= friend.twitter %>
    </td>

    <td>
      <%= link_to "Show this friend", friend %>
    </td>


</tr>
